*{
  margin-top: 0;
}
body{
  margin: 0 0 0;
  background: #B1B1B1;
}
.header{
  text-align: center;
  width: 100%;
  background-color: #0A0708;
  color: white;
}
.content-body{

}
.content-body .search-bar{
  float: left;
  margin-left: 5%;
  height: 100%;

}
.content-body .current-Weather{
  padding-left: 10px;
  padding-top: 10px;
  float: right;
  width: 70%;
  margin-right: 5%;
  background-color: white;
  display: flex;
  flex-flow: column;
}
.content-body .five-day-focast{

  margin-left: 23.5%;
  margin-right: 5%;
  clear: right;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}
#day-one, #day-two, #day-three, #day-four, #day-five{
  margin-top: 5px;
  background-color: white;
  margin-left: 5px;
  width: 20%;
}
